<%= content_for :head do %>
    <title>lol Mashup</title>
<% end %>

<%= content_for :content do %>
    <%= render 'shared/navbar' %>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-2">
                    <div class="oof-img tenor-gif-embed" data-postid="4937950" data-share-method="host" data-width="100%" data-aspect-ratio="1.0"><a href="https://tenor.com/view/awkward-black-kid-gif-4937950">Awkward Black GIF</a> from <a href="https://tenor.com/search/awkward-gifs">Awkward GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                </div>
                <div class="col-9">
                    <h1 class="display-3">Oof...</h1>
                    <p class="lead">You probably didn't come here by choice - somebody must have made you.</p>
                </div>
            </div>
            <hr class="my-4">
            <p>It's okay! you can still turn back</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg mdi mdi-handshake" href="http://google.com/search?q=How to make better choices in life" role="button"> Save me</a>
                <a class="btn btn-outline-light mdi mdi-arm-flex" href="/group/list" role="button">But i'm stronk</a>
            </p>
        </div>
    </div>
<% end %>
