<%= content_for :head do %>
    <title>lol Mashup</title>
<% end %>

<%= content_for :content do %>
    <%= render 'shared/navbar' %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Oof...</h1>
            <p class="lead">You probably didn't come here by choice - somebody must have made you.</p>
            <hr class="my-4">
            <p>It's okay! you can still turn back</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="http://google.com/search?q=How to make better choices in life" role="button">Save me</a>
                <a class="btn btn-outline-light " href="/group/list" role="button">But i'm stronk</a>
            </p>
        </div>
    </div>
<% end %>
