<%= content_for :head do %>
    <title>lol Mashup</title>
<% end %>

<%= content_for :content do %>
    <%= render 'shared/navbar' %>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-2">
                    <div class="oof-img" >
                        <img class="img-fluid" src="<%= image_url('doggo.png') %>">
                    </div>
                </div>
                <div class="col-9">
                    <h1 class="display-3">Forgief...</h1>
                    <p class="lead">You probably didn't come here by choice - somebody must have made you.</p>
                </div>
            </div>
            <hr class="my-4">
            <p>It's okay! you can still turn back</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg mdi mdi-handshake" href="http://google.com/search?q=How to make better choices in life" role="button"> Save me</a>
                <a class="btn btn-outline-light mdi mdi-arm-flex" href="/group/list" role="button">I'm stronk</a>
            </p>
        </div>
    </div>
<% end %>
