/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import '../../../node_modules/bootstrap/scss/bootstrap';
 @import 'superhero.min';
 
.fade {
  transition-duration: 0.5s;
}

.oof-img {
  border-radius: 50%;
  overflow: hidden;
}

.toast {
  position: absolute; 
  top: 50px;
  right: 0;
  min-width: 250px;
  min-height: 120px;
  margin: 20px
}

.nav-logo {
  width: 64px;
  padding: 0px 10px;
}

.action-column {
  max-width: 50px;
}

.masteries .table thead th {
  text-align: center;
  vertical-align: middle;
}

.masteries .champ-pp {
  width: 30px
}
.masteries .champ-name {
  padding-left: 8px;
}

.win-condition-card {
  width: 320px;
  margin: auto;
  height: 320px;
  border-radius: 50%;
  margin-bottom: 40px;
  overflow: hidden;
  border-width: 10px;
  box-shadow: 0px 0px 118px #df691ab8;
}

.win-condition-card .card-header {
  height: 100%;
  align-items: center;
  display: flex;
}
.win-condition-card .win-condition-label {
  position: absolute;
  top: 24px;
  left: 65px;
  font-size: 27px;
}
.win-condition-card .win-condition-title {
  font-size: 30px;
  text-shadow: 0px 0px 15px black;
  z-index: 10;
  padding-bottom: 26px;
  width: 100%;
}
.win-condition-card .win-condition-medal {
  position: absolute;
  top: 106px;
  width: 98%;
  left: 1%;
}
.win-condition-card .match-result-button {
  z-index: 10;
}
.win-condition-card .match-result-button .btn {
  padding-bottom: 16px;
  box-shadow: 0px 2px 17px;
}
.summoner-card {
    width: 625px;
    margin-bottom: 20px;
}
@media (max-width:1200px) {
  .summoner-card {
    margin: auto;
    margin-bottom: 20px;
  }
}
@media (min-width:1200px) {
  .summoner-card-right {
    float: right !important;
  }
}
@media (min-width:972px) {
  .md-float-right {
    float: right;
  }
}

.card.summoner-card .card-body {
  padding: 0px;
}
.card.summoner-card .card-body {
  padding: 0px;
  padding-bottom: 20px;
}
.summoner-card img.profile-pp {
  width: 30px;
}

.summoner-card .roll-result > H1 {
  padding-top: 30px;
}
.summoner-card .roll-result .lane-role {
  padding: 8px
}
.summoner-card .champ   {
  width: 124px;
  display: inline-block
}
.summoner-card .champ-spell   {
  width: 84px;
  display: inline-block;
  padding: 0px 10px;
}
.summoner-card .champ-spell .button-binding  {
  display: block;
  margin-top: -63px;
  margin-left: 1px;
  position: relative;
  padding: 3px 8px;
  cursor: default;
  width: fit-content;
  border-radius: 0px 0px 14px 0px;
  background-color: #000000bf;
  border-right: 1px solid #ffffff94;
  border-bottom: 1px solid #ffffff94;
}
.summoner-card .champ-skill   {
  width: 70px;
  display: inline-block;
}

.summoner-card .champ .champ-name  {
  padding: 4px;
  display: block;
  text-align: center;
}
.summoner-card .item-spell-section   {
  display: inline-block;
  width: 380px;
}
.summoner-card .build-container   {
  padding: 0px 12px;
  height: 160px;
}

.summoner-card .build-container *  {
  vertical-align: top;
}
.summoner-card .item-list  {
  display: block;
  width: 420px;
}

.summoner-card .item-list .first-buy-items   {
  display: inline-flex;
  height: 48px;
  flex-flow: column wrap;
  border-width: 3px !important;
  background-color: black;
}
.summoner-card .item-list .first-buy-items > .item-pp   {
  width: 21px;
  border-radius: 50%;
}
.summoner-card .item-list.main-build-items   {
  height: 50px;
}
.summoner-card .item-list.main-build-items > .item-pp   {
  width: 48px;
  border-width: 3px !important;
}
.summoner-card .summoner-spell-list   {
  display: block;
  width: 86px;
  height: 42px;
  padding-top: 4px;
}
.summoner-card .summoner-spell-list .spell-pp  {
  width: 40px;
  border-width: 2px !important;
}
.summoner-card .rune-list   {
  display: block;
  padding-top: 10px;
  width: 400px;
  height: 50px;
}
.summoner-card .rune-list .rune-pp   {
  width: 36px;
  background: black;
  border-radius: 50%;
}
.summoner-card .rune-list .rune-tree-pp   {
  width: 40px;
  padding: 3px;
}
.summoner-card .rune-list .rune-tree-secondary-pp   {
  margin-left: 20px
}

.summoner-card .stat-mods {
  padding-top: 4px;
}

.summoner-card .stat-mods .stat-mod-pp {
  width: 26px;
  background: #1A1E22;
  border-radius: 50%;
  border: 2px solid #D9B368;
}

.range-slider__value {
  padding: 0px;
  text-align: center;
}

.results-item-img {
  width: 20px
}

.winner-card {
  width: 252px;
  margin: auto;
  border-width: 3px;
  border-width: 15px !important;
  border-radius: 50%;
  box-shadow: 0px 0px 40px #df691ab8;
}

.winner-card .win-condition-title {
  width: 350px;
  display: inline-block;
  margin-left: -64px;
}

.winner-card .profile-pp {
  width: 80px;
}