/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.masteries .table thead th {
  text-align: center;
  vertical-align: middle;
}

.masteries .champ-pp {
  width: 30px
}
.masteries .champ-name {
  padding-left: 8px;
}
 
.summoner-card img.profile-pp {
  width: 30px;
}

.summoner-card .roll-result   {
  display: flex;
}
.summoner-card .champ   {
  width: 90px;
  display: inline-block
}
.summoner-card .champ-spell   {
  width: 84px;
  display: inline-block;
  padding: 0px 10px;
}
.summoner-card .champ-skill   {
  width: 70px;
  display: inline-block;
}
.summoner-card .champ .champ-name  {
  padding: 4px;
  display: block;
  text-align: center;
}
.summoner-card .item-spell-section   {
  display: inline-block;
}
.summoner-card .item-list   {
  display: block;
  width: 312px;
  height: 50px;
}
.summoner-card .item-list .item-pp   {
  width: 48px;
  border-width: 3px !important;
}
.summoner-card .summoner-spell-list   {
  display: block;
  width: 86px;
  height: 42px;
  padding-top: 4px;
}
.summoner-card .summoner-spell-list .spell-pp  {
  width: 40px;
  border-width: 2px !important;
}